{% extends "base.html" %}
{% block content %}

<h2>Захищений пошук</h2>

<p class="good-search-text">
У цій версії використовується <b>параметризований SQL-запит</b>, який
<b>блокує SQL-інʼєкцію</b>.
</p>

<form method="post" action="{{ url_for('search_good') }}"> <label>Введіть імʼя студента:</label>
    <input type="text" name="keyword" required>
    <button type="submit">Пошук</button>
</form>

{% if results %}
<h3>Результати пошуку:</h3>
<ul>
    {% for r in results %}
        <li>{{ r['name'] }} | {{ r['email'] }} | {{ r['grade'] }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}